@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <main>
        <div class="top-row px-4">
            <p>ポケモンSV 捕獲成功確率計算機</p>
        </div>
        <MudLayout>
            <MudMainContent>
                <MudGrid Spacing="2" Justify="Justify.Center">
                    <MudItem lg="6" xs="6">
                        <MudAutocomplete T="string" Label="ポケモン" SearchFunc="@search_pokemon" CoerceText="false" Variant="Variant.Outlined" Margin="Margin.Dense" ValueChanged="OnPokemonNameSelected" />
                    </MudItem>
                    <MudItem lg="6" xs="6">
                        <MudSelect T="string" Label="ボール" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" Margin="Margin.Dense" ValueChanged="OnBallSelected">
                            @foreach (var n in ball)
                            {
                                <MudSelectItem T="string" Value="@n" />
                            }
                        </MudSelect>
                    </MudItem>

                    <MudItem lg="3">
                        <CalcResult Title="捕獲パワーなし" OnStatusChangeEventCallback="@((x) => CalcProbability())"></CalcResult>
                    </MudItem>
                    <MudItem lg="3">
                        <CalcResult Title="捕獲パワーLv1" OnStatusChangeEventCallback="@((x) => CalcProbability())"></CalcResult>
                    </MudItem>
                    <MudItem lg="3">
                        <CalcResult Title="捕獲パワーLv2" OnStatusChangeEventCallback="@((x) => CalcProbability())"></CalcResult>
                    </MudItem>
                    <MudItem lg="3">
                        <CalcResult Title="捕獲パワーLv3" OnStatusChangeEventCallback="@((x) => CalcProbability())"></CalcResult>
                    </MudItem>
                </MudGrid>
                @Body
            </MudMainContent>
        </MudLayout>
    </main>
</div>

                    
@code {
    private PokemonGetCalculator.Shared.Models.PokemonDataManager PokemonManager = new PokemonGetCalculator.Shared.Models.PokemonDataManager();
    private List<string> PokemonNameList = new List<string>();
    private Dictionary<string, string> TranslateList = new Dictionary<string, string>();

    private double[] hokakuPower = { 1.0, 1.1, 1.25, 2.0 };
    private double[] zukanHosei = { 0, 0.5, 1.0, 1.5 }; // 30匹以下、150匹以下、300匹以下、それ以上
    private double[] backAttack = { 1.0, 2.0 };
    private string[] ball = {
        "モンスターボール", "スーパーボール", "ハイパーボール", "マスターボール", "サファリボール",
        "レベルボール", "ルアーボール", "ムーンボール", "フレンドボール", "ラブラブボール",
        "ヘビーボール", "スピードボール", "プレミアボール", "リピートボール", "タイマーボール",
        "ネストボール", "ネットボール", "ダイブボール", "ゴージャスボール",
        "ヒールボール", "クイックボール", "ダークボール", "プレシャスボール", "コンペボール",
        "ドリームボール", "ウルトラボール",
    };

    private string PokemonName = "";
    private string BallName = "";

    private void OnPokemonNameSelected(string name) // ポケモン名が入力された
    {
        PokemonName = name;
    }

    private void OnBallSelected(string ball)
    {
        BallName = ball;
    }

    private void CalcProbability()
    {
    }

    private List<string> trans_katakana(string in_str)
    {
        List<string> result = new List<string>();
        bool finish = true;
        string str = in_str.ToLower();

        // まず1～3文字のアルファベットの組を先頭から順番にカタカナに変換する
        string res = "";
        for (int i = 0; i < str.Length; i++)
        {
            string tmp = "";
            if (str.Length - i >= 3)
            {
                // 3文字のパターンから先に調べた方が良さそう
                if (TranslateList.ContainsKey(str.Substring(i, 3)))
                {
                    tmp = TranslateList[str.Substring(i, 3)];
                    res += tmp;
                    i += 2;
                    continue;
                }
            }
            if (str.Length - i >= 2)
            {
                if (TranslateList.ContainsKey(str.Substring(i, 2)))
                {
                    tmp = TranslateList[str.Substring(i, 2)];
                    res += tmp;
                    ++i; // 2文字変換してるので次へ
                    continue;
                }
                else
                {
                    if (i < str.Length)
                    {
                        if (str[i] == str[i + 1])
                        {
                            if (str[i] != 'a' && str[i] != 'i' && str[i] != 'u' && str[i] != 'e' && str[i] != 'o')
                            {
                                // 母音が2つ続いた場合は"ッ"への変換はしない
                                res += "ッ";
                                continue; // 子音を一つ残すので i をインクリメントせずに次へ
                            }
                        }
                        else if (str[i] == 'n')
                        {
                            if (str[i] != 'a' && str[i] != 'i' && str[i] != 'u' && str[i] != 'e' && str[i] != 'o')
                            {
                                // nの次が母音じゃなかった場合、nを"ン"に変換する
                                res += "ン";
                                continue; // 次の子音は残すので i をインクリメントせずに次へ
                            }
                        }
                    }
                }
            }
            if (str.Length - i >= 1)
            {
                if (TranslateList.ContainsKey(str.Substring(i, 1)))
                {
                    // 1文字(母音とンとー)の変換ができるか？
                    // -> ンをnだけから変換するには次が子音かどうかの判定が必要で面倒なので後回し
                    tmp = TranslateList[str.Substring(i, 1)];
                    res += tmp;
                    continue;
                }
                else
                {
                    if (str[i] >= 'a' && str[i] <= 'z')
                    {
                        finish = false;
                        break; // 1文字しかなく、さらに変換にも失敗してるなら、そのまま最終フェーズへ進む
                    }
                    else
                    {
                        // アルファベットじゃない場合はそのままresにくっつける
                        // -> フシギb みたいな入力から フシギバ/フシギビ/...を検索したい
                        res += str[i];
                    }
                }
            }
        }

        // 変換から漏れた最後の1文字からあり得る文字の候補を生成する
        if (finish == false && char.IsLetter(str.Last()))
        {
            // 最後の1文字がアルファベット(つまり変換漏れがある)
            var tmpL = TranslateList.Where(x => x.Key.StartsWith(str.Last())).ToList();
            foreach (var v in tmpL)
            {
                // 変換候補分だけ、それまでの変換結果に付け加えてリストを作る
                // 例：マリルr -> マリルラ, マリルリ, マリルル, マリルレ, マリルロ
                result.Add(res + v.Value);
            }
        }
        else
        {
            result.Add(res); // 全部変換できた(もしくは空っぽ)なら、それだけリストに詰めて返す
        }

        return (result);
    }

    private async Task<IEnumerable<string>> search_pokemon(string str)
    {
        if (string.IsNullOrEmpty(str))
            return (PokemonNameList);

        var s = trans_katakana(str);
        s = s.Distinct().ToList();
        List<string> ls = new List<string>();
        foreach (var ss in s)
        {
            ls.AddRange(PokemonNameList.Where(x => x.StartsWith(ss)).ToList());
        }
        ls = ls.Distinct().ToList();

        return (ls);
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        PokemonManager.InitializePokemonData();
        PokemonNameList = PokemonManager.AllPokemonName();

        // ローマ字→カタカナ変換辞書
        TranslateList["a"] = "ア"; TranslateList["ba"] = "バ";
        TranslateList["be"] = "ベ"; TranslateList["bi"] = "ビ";
        TranslateList["bo"] = "ボ"; TranslateList["bu"] = "ブ";
        TranslateList["bya"] = "ビャ"; TranslateList["bye"] = "ビェ";
        TranslateList["byi"] = "ビィ"; TranslateList["byo"] = "ビョ";
        TranslateList["byu"] = "ビュ"; TranslateList["ca"] = "カ";
        TranslateList["ce"] = "セ"; TranslateList["cha"] = "チャ";
        TranslateList["che"] = "チェ"; TranslateList["chi"] = "チ";
        TranslateList["cho"] = "チョ"; TranslateList["chu"] = "チュ";
        TranslateList["ci"] = "シ"; TranslateList["co"] = "コ";
        TranslateList["cu"] = "ク"; TranslateList["cya"] = "チャ";
        TranslateList["cye"] = "チェ"; TranslateList["cyi"] = "チィ";
        TranslateList["cyo"] = "チョ"; TranslateList["cyu"] = "チュ";
        TranslateList["da"] = "ダ"; TranslateList["de"] = "デ";
        TranslateList["dha"] = "デャ"; TranslateList["dhe"] = "デェ";
        TranslateList["dhi"] = "ディ"; TranslateList["dho"] = "デョ";
        TranslateList["dhu"] = "デュ"; TranslateList["di"] = "ヂ";
        TranslateList["do"] = "ド"; TranslateList["du"] = "ヅ";
        TranslateList["dya"] = "ヂャ"; TranslateList["dye"] = "ヂェ";
        TranslateList["dyi"] = "ヂィ"; TranslateList["dyo"] = "ヂョ";
        TranslateList["dyu"] = "デュ"; TranslateList["e"] = "エ";
        TranslateList["fa"] = "ファ"; TranslateList["fe"] = "フェ";
        TranslateList["fi"] = "フィ"; TranslateList["fo"] = "フォ";
        TranslateList["fu"] = "フ"; TranslateList["ga"] = "ガ";
        TranslateList["ge"] = "ゲ"; TranslateList["gi"] = "ギ";
        TranslateList["go"] = "ゴ"; TranslateList["gu"] = "グ";
        TranslateList["gwa"] = "グァ"; TranslateList["gwe"] = "グェ";
        TranslateList["gwi"] = "グィ"; TranslateList["gwo"] = "グォ";
        TranslateList["gwu"] = "グ"; TranslateList["gya"] = "ギャ";
        TranslateList["gye"] = "ギェ"; TranslateList["gyi"] = "ギィ";
        TranslateList["gyo"] = "ギョ"; TranslateList["gyu"] = "ギュ";
        TranslateList["ha"] = "ハ"; TranslateList["he"] = "ヘ";
        TranslateList["hi"] = "ヒ"; TranslateList["ho"] = "ホ";
        TranslateList["hu"] = "フ"; TranslateList["hya"] = "ヒャ";
        TranslateList["hye"] = "ヒェ"; TranslateList["hyi"] = "ヒィ";
        TranslateList["hyo"] = "ヒョ"; TranslateList["hyu"] = "ヒュ";
        TranslateList["i"] = "イ"; TranslateList["ja"] = "ジャ";
        TranslateList["je"] = "ジェ"; TranslateList["ji"] = "ジ";
        TranslateList["jo"] = "ジョ"; TranslateList["ju"] = "ジュ";
        TranslateList["jya"] = "ジャ"; TranslateList["jye"] = "ジェ";
        TranslateList["jyi"] = "ジィ"; TranslateList["jyo"] = "ジョ";
        TranslateList["jyu"] = "ジュ"; TranslateList["ka"] = "カ";
        TranslateList["ke"] = "ケ"; TranslateList["ki"] = "キ";
        TranslateList["ko"] = "コ"; TranslateList["ku"] = "ク";
        TranslateList["kwa"] = "クヮ"; TranslateList["kwe"] = "クェ";
        TranslateList["kwi"] = "クィ"; TranslateList["kwo"] = "クォ";
        TranslateList["kwu"] = "ク"; TranslateList["kya"] = "キャ";
        TranslateList["kye"] = "キェ"; TranslateList["kyi"] = "キィ";
        TranslateList["kyo"] = "キョ"; TranslateList["kyu"] = "キュ";
        TranslateList["la"] = "ァ"; TranslateList["le"] = "ェ";
        TranslateList["li"] = "ィ"; TranslateList["lo"] = "ォ";
        TranslateList["lu"] = "ゥ"; TranslateList["lwa"] = "ヮ";
        TranslateList["lya"] = "ャ"; TranslateList["lye"] = "ェ";
        TranslateList["lyi"] = "ィ"; TranslateList["lyo"] = "ョ";
        TranslateList["lyu"] = "ュ"; TranslateList["ma"] = "マ";
        TranslateList["me"] = "メ"; TranslateList["mi"] = "ミ";
        TranslateList["mo"] = "モ"; TranslateList["mu"] = "ム";
        TranslateList["mya"] = "ミャ"; TranslateList["mye"] = "ミェ";
        TranslateList["myi"] = "ミィ"; TranslateList["myo"] = "ミョ";
        TranslateList["myu"] = "ミュ"; TranslateList["na"] = "ナ";
        TranslateList["ne"] = "ネ"; TranslateList["ni"] = "ニ";
        TranslateList["nn"] = "ン"; TranslateList["no"] = "ノ";
        TranslateList["nu"] = "ヌ"; TranslateList["nya"] = "ニャ";
        TranslateList["nye"] = "ニェ"; TranslateList["nyi"] = "ニィ";
        TranslateList["nyo"] = "ニョ"; TranslateList["nyu"] = "ニュ";
        TranslateList["o"] = "オ"; TranslateList["pa"] = "パ";
        TranslateList["pe"] = "ペ"; TranslateList["pi"] = "ピ";
        TranslateList["po"] = "ポ"; TranslateList["pu"] = "プ";
        TranslateList["pya"] = "ピャ"; TranslateList["pye"] = "ピェ";
        TranslateList["pyi"] = "ピィ"; TranslateList["pyo"] = "ピョ";
        TranslateList["pyu"] = "ピュ"; TranslateList["qa"] = "クァ";
        TranslateList["qe"] = "クェ"; TranslateList["qi"] = "クィ";
        TranslateList["qo"] = "クォ"; TranslateList["qu"] = "ク";
        TranslateList["qya"] = "クャ"; TranslateList["qye"] = "クェ";
        TranslateList["qyi"] = "クィ"; TranslateList["qyo"] = "クョ";
        TranslateList["qyu"] = "クュ"; TranslateList["ra"] = "ラ";
        TranslateList["re"] = "レ"; TranslateList["ri"] = "リ";
        TranslateList["ro"] = "ロ"; TranslateList["ru"] = "ル";
        TranslateList["rya"] = "リャ"; TranslateList["rye"] = "リェ";
        TranslateList["ryi"] = "リィ"; TranslateList["ryo"] = "リョ";
        TranslateList["ryu"] = "リュ"; TranslateList["sa"] = "サ";
        TranslateList["se"] = "セ"; TranslateList["sha"] = "シャ";
        TranslateList["she"] = "シェ"; TranslateList["shi"] = "シ";
        TranslateList["sho"] = "ショ"; TranslateList["shu"] = "シュ";
        TranslateList["si"] = "シ"; TranslateList["so"] = "ソ";
        TranslateList["su"] = "ス"; TranslateList["sya"] = "シャ";
        TranslateList["sye"] = "シェ"; TranslateList["syi"] = "シィ";
        TranslateList["syo"] = "ショ"; TranslateList["syu"] = "シュ";
        TranslateList["ta"] = "タ"; TranslateList["te"] = "テ";
        TranslateList["tha"] = "テャ"; TranslateList["the"] = "テェ";
        TranslateList["thi"] = "ティ"; TranslateList["tho"] = "テョ";
        TranslateList["thu"] = "テュ"; TranslateList["ti"] = "チ";
        TranslateList["to"] = "ト"; TranslateList["tsa"] = "ツァ";
        TranslateList["tse"] = "ツェ"; TranslateList["tsi"] = "ツィ";
        TranslateList["tsu"] = "ツ"; TranslateList["tu"] = "ツ";
        TranslateList["tso"] = "ツォ"; TranslateList["tya"] = "チャ";
        TranslateList["tye"] = "チェ"; TranslateList["tyi"] = "チィ";
        TranslateList["tyo"] = "チョ"; TranslateList["tyu"] = "チュ";
        TranslateList["u"] = "ウ"; TranslateList["va"] = "ヴァ";
        TranslateList["ve"] = "ヴェ"; TranslateList["vi"] = "ヴィ";
        TranslateList["vo"] = "ヴォ"; TranslateList["vu"] = "ヴ";
        TranslateList["wa"] = "ワ"; TranslateList["we"] = "ウェ";
        TranslateList["wi"] = "ウィ"; TranslateList["wo"] = "ヲ";
        TranslateList["wu"] = "ウ"; TranslateList["xa"] = "ァ";
        TranslateList["xe"] = "ェ"; TranslateList["xi"] = "ィ";
        TranslateList["xo"] = "ォ"; TranslateList["xn"] = "ン";
        TranslateList["xtu"] = "ッ"; TranslateList["xtsu"] = "ッ";
        TranslateList["xu"] = "ゥ"; TranslateList["xwa"] = "ヮ";
        TranslateList["xya"] = "ャ"; TranslateList["xye"] = "ェ";
        TranslateList["xyi"] = "ィ"; TranslateList["xyo"] = "ョ";
        TranslateList["xyu"] = "ュ"; TranslateList["ya"] = "ヤ";
        TranslateList["ye"] = "イェ"; TranslateList["yi"] = "イ";
        TranslateList["yo"] = "ヨ"; TranslateList["yu"] = "ユ";
        TranslateList["za"] = "ザ"; TranslateList["ze"] = "ゼ";
        TranslateList["zi"] = "ジ"; TranslateList["zo"] = "ゾ";
        TranslateList["zu"] = "ズ"; TranslateList["zya"] = "ジャ";
        TranslateList["zye"] = "ジェ"; TranslateList["zyi"] = "ジィ";
        TranslateList["zyo"] = "ジョ"; TranslateList["zyu"] = "ジュ";
        TranslateList["-"] = "ー";
    }
}
